---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "Page not found",
	title: "404",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-12">404</h1>
	<p class="mb-8 text-muted">The requested surface is not available.</p>
</PageLayout>
